img {

width: 100%;
height: 300px;

	}

h1 {
color: rgb(210, 180, 140);
position: center;
font-size: 40px;
padding-left: 100px;}

.cuadrosuperior {	
	background-color: hsl(240, 44%, 24%);
	height:40px ;


}

header {
font-size: 12px;
padding-left: 36px;
padding-top: 12px;
color:  rgb(255,255,255);		
font-family: 'Montserrat', sans-serif;	
		}


.picodorado {
	
	color: black;  }

h2	{  
	padding-left: 28%;
	font-size: 30px;
	}

p { padding-left: 15px;
	padding-right: 15px;
       }

.acordeon { background: #eee;
	width: 66%;
	display: inline-block;

	
    }

 .acordeon a {display:inline-block; 
		text-decoration:none ;
		background: #ddd;
		line-height: 45px;
		padding: 0 1em;
		color: steelblue;
		border-bottom: solid 3px #ccc;
		width: 96%;


    }

.acordeon a:hover {

border: solid 4px #aquamarine;
background: rgb(210, 180, 140);
display: inline-block;

}
 


.acordeon p {
padding: 1em;
margin: 0;
display: none;

}


.acordeon p:target{

color:  black;
display: inline-block;

}



.comentarios { width: 50%;
padding-right: 200px;
position: relative;
top: 200px;

}


.im1   { border: solid 5px;
	margin-right: 35px;
    margin-left: 880px;
    height: 400px;
    position: absolute;

}


.img img {object-fit: cover;}

.flex-container {
	display: flex;

}

.flex-item {

margin: 50px;
min-width: 250px;}

.flex-item-imagen {
width: 310px;
padding-right: 35px;


	}

